@model ClientViewModel
@{
    ViewData["Title"] = "Client";
}

<div class="w-100 card">
    <div class="card-header bg-dark-subtle ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black">Liste des Clients</h2>
            </div>
        </div>
    </div>
    <div class="card-body border-0 p-4">
        <div class="row pb-3">
            <div class="col-4 text-end">
                <form asp-controller="Client" asp-action="Index" class="col-12 col-lg-auto mb-3 mb-lg-0" method="get">
                    <input type="search" class="form-control" placeholder="Rechercher..." asp-for="SearchString" aria-label="Rechercher">
                </form>
            </div>
            <div class="col-8 text-end">
                <a class="btn btn-secondary" asp-controller="Client" asp-action="Create">
                    <i class="bi bi-plus-circle"></i> 
                    Nouveau client
                </a>
            </div>
        </div>

        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th class="text-center align-middle">N°</th>
                    <th class="text-center align-middle">Nom</th>
                    <th class="text-center align-middle">Sexe</th>
                    <th class="text-center align-middle">Type</th>
                    <th class="text-center align-middle">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model.Clients)
                {
                    <tr>
                        <td class="text-center align-middle fw-bold">@ViewBag.NumAff</td>
                        <td class="text-center align-middle">@client.NomClient</td>
                        <td class="text-center align-middle">@client.SexeClient</td>
                        <td class="text-center align-middle">@client.TypeClient</td>
                        <td class="text-center align-middle">
                            <div class="d-flex justify-content-center gap-2" role="group">
                                <a asp-controller="Client" asp-action="Details" asp-route-clientId="@client.ClientId" class="btn btn-warning text-white">
                                    <i class="bi bi-info-circle"></i> Details
                                </a>
                                <a asp-controller="Client" asp-action="Update" asp-route-clientId="@client.ClientId" class="btn btn-success">
                                    <i class="bi bi-pencil-square"></i> Modifier
                                </a>
                                <a asp-controller="Client" asp-action="Delete" asp-route-clientId="@client.ClientId" class="btn btn-danger">
                                    <i class="bi bi-trash-fill"></i> Supprimer
                                </a>
                                @*Ajouter le bouton detail*@
                            </div>
                        </td>
                    </tr>
                    ViewBag.NumAff++;
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer border-0 p-4">
        <div class="row">
            <div class="col-6 text-left">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item @(ViewBag.Currentpage==1 ? "disabled" : "active")">
                            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage -1)">Précedent</a>
                        </li>

                        <li class="page-item"><a class="page-link" href="#">@ViewBag.CurrentPage</a></li>

                        <li class="page-item @(ViewBag.TotalPage<=ViewBag.CurrentPage ? "disabled" : "active")">
                            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage +1)">Suivant</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>


